body {
    background-color: pink; 
}

#line1 {
  width: 120vw;
  position: fixed;
  left: -50px;
}

#line2 {
  width: 120vw;
  position: fixed;
  left: -70px;
  top: 30px;

}

#line3 {
  width: 120vw;
  position: fixed;
  left: -90px;
  top: -80px;
}

#line4 {
  width: 120vw;
  position: fixed;
  left: -165px;
  top: -25px;
}

#line5 {
  width: 120vw;
  position: fixed;
  left: -20px;
  top: -20px;
}



#line1 div {
  width: 2px;
  height: 100px;
  background-color: blue;
  margin: 20px 90px;
  float: left;
  left: 20px;
  top: 30px;
  box-shadow: 5px 5px 2px;
}

#line2 div {
  width: 120px;
  height: 1px;
  background-color: brown;
  margin: 90px 20px;
  float: left;
  left: 45px;
  top: 20px;
  box-shadow: 4px 4px 2px;

}

#line3 div {
  width: 2px;
  height: 180px;
  background-color: orange;
  margin: 20px 90px;
  left: 10px;
  top: 20px;
  float: left;
  box-shadow: 7px 7px 1px;

}

#line4 div {
  width: 1px;
  height: 70px;
  background-color: white;
  margin: 40px 90px;
  left: 60px;
  top: 0px;
  float: left;
  box-shadow: 10px 10px 2px;

}

#line5 div {
  width: 140px;
  height: 1px;
  background-color: yellow;
  margin: 90px 20px;
  left: 10px;
  top: 80px;
  float: left;
  box-shadow: 8px 8px 1px;

}