body {
    background-color: white; 
}

#pacman {
  width: 120vw;
  position: fixed;
  top: 0px;
  left: 0px;
}

#pacman div {
  width: 0px;
  height: 0px;
  border-right: 30px solid transparent;
  border-top: 30px solid red;
  border-left: 30px solid red;
  border-bottom: 30px solid red;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  float: left;
  margin: 20px 50px 200px 50px;
}

#trapezoid {
  width: 120vw;
  position: fixed;
  top: 80px;
  left: -20px;
}

#trapezoid div {
  border-top: 80px solid red;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 40px;
  float: left;
  margin: 0 40px 200px 70px;
}

#talkbubble {
  width: 120vw;
  position: fixed;
  top: 30px;
  left: 70px;
}

#talkbubble div {
   width: 65px;
   height: 40px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
   float: left;
   margin: 0 40px 240px 55px;
}
#talkbubble div:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 13px;
   width: 0;
   height: 0;
   border-top: 7px solid transparent;
   border-right: 13px solid red;
   border-bottom: 7px solid transparent;
}

#arm1 {
  width: 120vw;
  position: fixed;
  top: 80px;
  left: -70px;
}

#arm2 {
  width: 120vw;
  position: fixed;
  top: 80px;
  left: 0px;
}

#leg1 {
  width: 120vw;
  position: fixed;
  top: 160px;
  left: -62px;
}

#leg2 {
  width: 120vw;
  position: fixed;
  top: 160px;
  left: -9px;
}


#arm1 div {
  width: 20px;
  height: 70px;
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
  background: red;
  float: left;
  margin: 0 40px 210px 100px;
}

#arm2 div {
  width: 20px;
  height: 70px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  background: red;
  float: left;
  margin: 0 40px 210px 100px;
}

#leg1 div {
  width: 20px;
  height: 90px;
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
  background: red;
  float: left;
  margin: 0 40px 190px 100px;
}


#leg2 div {
  width: 20px;
  height: 90px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  background: red;
  float: left;
  margin: 0 40px 190px 100px;
}


