@font-face {
    font-family: 'SentyZHAO';
    src: url('SentyZHAO.ttf');
}


body {
    background-color:#fed33d;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    font-family:"Avenir Next";
    src: url('avenirnext-regular.ttf');
    src: url('avenirnext-demibold.ttf');
    src: url('avenirnext-ultralight.ttf');
}  

h0 {
    font-family: "SentyZHAO";
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 60px;
    color:#7E4FFB;   
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 30px;
    color:#FC6074;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:300;
    font-size: 14px;
    color: #FC6074;
}

a {
    text-decoration-line:none;
    letter-spacing: 2px;
    font-weight:300;
    font-size: 14px;
    color: #7E4FFB;
}

a:hover {
    color:white;
    background-color: #57E191;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    border: 10px solid white;
    padding: 0px;
    font-size: 30px;
    text-align: center;
}







