
body {
    background-color:white;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    font-family:"Avenir Next";
    src: url(avenirnext-regular.ttf);
    src: url(avenirnext-demibold.ttf);
    src: url(avenirnext-ultralight.ttf);
}  

h0 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 96px;
    color:#7D8F95;   
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 30px;
    color:#FC4349;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:300;
    font-size: 14px;
    color: #FC4349;
}

a {
    text-decoration-line:none;
    letter-spacing: 2px;
    font-weight:300;
    font-size: 14px;
    color: #7D8F95;
}

a:hover {
    color:white;
    background-color: #FC4349;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    border: 0px solid white;
    padding: 0px;
    font-size: 30px;
    text-align: center;
}







